.root {
    margin: 10px 0px;
}

.login {
    border: 1px solid;
    padding: 3px 5px;
    border-radius: 5px;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;

    button {
        margin: 5px;
    }
}