.tabs_containe {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    & > * {
        margin-bottom: 10px;
    }

    .tabs_body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        width: 300px;

        & > * {
            margin: 3px;
            width: 100%;
            box-sizing: border-box;
        }
    }
}